<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/user">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar-------------------------------------------------> 
    <!--------------------------------------------- Start alahly ------------------------------------------------->
    <section class="alahly" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 p-5">
                    <img  class="w-100" src="/images/club/685553Bayern Munich.png" alt="" srcset="">
                </div>
                <div class="col-lg-9 p-5">
                    <div class="alahly-caption">
                        <h2 class="text-center p-2">بايرن ميونخ</h2>
                        <P class="text-right">نادي بايرن ميونخ، هو نادي رياضي ألماني محترف يقع في بافاريا بألمانيا تم تأسيسه يوم 27 فبراير 1900 من قِبل مجموعة من أعضاء سابقين لنادي ميونشنير ترن ڤيرين 1879 بهدف إنشاء نادي رياضي جديد في بافاريا يهتم أساسياً برياضة كرة القدم. النادي معروف أساسياً بفريق كرة القدم الخاص به، الذي يشارك في الدوري الألماني الممتاز ‘البونديسليجا’، أعلى الدوريات المحترفة في ألمانيا.</P>
                        <P class="text-right"> بحصوله على 63 لقب محلي، منهم 30 لقب دوري، يُصبح النادي هو الأكثر تتويجاً بالبطولات في ألمانيا، حيث فاز الفريق بكل البطولات المحلية الممكنة أكثر من أي نادي أخر ليصبح هو الفريق المُهيمن على الكرة الألمانية. على الجانب القاري، فاز النادي بـ 10 بطولات أوروبية تشمل 6 ألقاب لدوري أبطال أوروبا، ليصبح النادي أيضاً أكثر الأندية الألمانية تحقيقاً للألقاب الأوروبية. بجانب البطولات المحلية والقارية، استطاع النادي بالفوز بلقب كأس العالم للأندية مرة واحدة في عام 2013؛ الفريق الألماني الوحيد الذي تمكن من الفوز بالبطولة. كان اللقب المحلي الأخير للنادي هو لقب الدوري الألماني الممتاز في 2020، بينما كان لقب كأس السوبر الأوروبي في 2020 هو اللقب الأوروبي الأخير للنادي.</P>
                        <P class="text-right">تغيرت الألوان الأساسي للنادي عبر التاريخ. في بدايات النادي، كان بايرن ميونخ يستخدم اللونين الأبيض والأزرق كاللونين الأساسيين، قبل أن يتم استبدال اللون الأزرق بالأحمر الداكن أو النبيذي. خلال الستينيات، بدأ النادي باستخدام اللون الأحمر مع خطوط زرقاء حتى منتصف التسعينيات عندما استقر النادي على الإبقاء على اللون الأحمر كالأساسي مع تفاصيل بيضاء أو زرقاء إضافية. يُلقب النادي بـ ‘Die Bayern’ والذي يعني ‘البافاريون’ بالعربية نِسبةً لانتماء النادي لإقليم بافاريا. ككون الناي واحد من أعرق الفرق الألمانية، تميز بايرن ميونخ بتملكه للعديد من أفضل لاعبي العالم من وخصوصاً اللاعبين الألمانيين، ومن هؤلاء اللاعبين أوليفير كان، جيرد مولر، فرانتس بيكنباور وفيليب لام.</P>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="alahly">
        <div class="container">
            
            <div class="text-center">
                <a href="/home/clubs/bayern/bayern-product"><h2 class="">منتجات النادي</h2></a>
                <img src="/images/line.png" alt="" srcset="">
            </div>
            <div class="row py-5">
                <div class="col-lg-3">
                    <div class="product text-center">
                        <img class="w-100" src="/images/product/بايرن/الاساسي.png" alt="" srcset="">
                        <h4 class="p-2" >قميص بايرن ميونخ الاساسي 2020/21</h4>
                        <p class="p-2">275EG</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product text-center">
                        <img class="w-100" src="/images/product/بايرن/احتياطي21.png" alt="" srcset="">
                        <h4 class="p-2" >قميص بايرن ميونخ الاحتياطي 2020/21</h4>
                        <p class="p-2">275EG</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product text-center">
                        <img class="w-100" src="/images/product/بايرن/الثالث21.png" alt="" srcset="">
                        <h4 class="p-2" >قميص بايرن ميونخ الثالث 2020/21 </h4>
                        <p class="p-2">275EG</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product text-center">
                        <img class="w-100" src="/images/product/بايرن/احتياطي22.png" alt="" srcset="">
                        <h4 class="p-2" >قميص بارين ميونخ احتياطي 2021/22 </h4>
                        <p class="p-2">275EG</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------------------------- End alahly ------------------------------------------------->
    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container pt-4 text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                            </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>