<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="/images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/user">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar------------------------------------------------->    <!--------------------------------------------- Start blog------------------------------------------------->
    <!--------------------------------------------- Start blog-advice ------------------------------------------------->
    <section class="blog-advice">
        <div class="container">
            <div class="text-center py-3">
                <h2>التدوينة</h2>
                <img src="/images/line.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-4 p-5">
                    <img  class="w-100" src="/images/blog/2.jpg">
                </div>
                <div class="col-lg-8 p-5">
                    <div class="blog-advice-caption">
                        <h2 class="text-right p-2">كواليس هدفي مارادونا أمام إنجلترا في كأس العالم بعد أكثر من 34 عاماً</h2>

                        <P class="text-right">سرد علي بن ناصر أسطورة التحكيم التونسية والعربية كواليس هدفين ربما هما الأشهر في تاريخ بطولات كأس العالم، وحملا توقيع الأرجنتيني دييجو أرماندو مارادونا قبل 34 عاما.</P>
                        <p class="text-right">كان بن ناصر مكلفا بالإدارة التحكيمية لواحدة من أكثر المباريات إثارة على كافة الأصعدة في تاريخ المونديال، وتحديدا نسخة المكسيك 1986. منتخب الأرجنتين بقيادة مارادونا حقق فوزا صعبا بنتيجة 2-1 على إنجلترا في ربع نهائي البطولة، ضمن به العبور إلى المربع الذهبي قبل التتويج باللقب.</p>
                        <p class="text-right">التقى المنتخبان وجها لوجه في الدور ربع النهائي، في مباراة اعتبرها الكثيرون ختاما مبكرا للبطولة، لاسيما وأنهما كانا من أبرز المرشحين آنذاك للتتويج باللقب. مراقبو الحكام وقتها اختاروا علي بن ناصر خصيصا لإدارة المباراة، وكان بمثابة نبأ سار في الوسط العربي الرياضي، ولكن ما سر اختيار الدولي التونسي السابق؟ ابن ناصر فسر اختياره بقوله: "قدمت أداءً مميزا للغاية خلال مباراة بلغاريا وبولندا في مرحلة المجموعات، مستوايّ وقتها ربما لفت الأنظار نحوي بشدة".
                        </p>
                        <p class="text-right">وأضاف: "بعدها فوجئت باختيار مراقب حكام فرنسي لي لكي أدير المباراة، وكان نبأ سارا للغاية. كنت على قدر المسؤولية"</p>
                        <p class="text-right">وحرص بن ناصر للحديث عن كواليس هدفي مارادونا في المباراة، وذلك خلال برنامج "المحاضرة التثقيفية للحكام العرب عن بعد"، التي نظمها مؤخرا الاتحاد العربي لكرة القدم. وقال عن هدف مارادونا الأول الذي جاء من لمسة يد "كان معي حكما مساعدا من بلغاريا، تبادلنا الأدوار في مباراة سابقة بين بلجيكا وباراجوي وأنقذته من قرار صعب، ولكنه تخاذل معي في هدف مارادونا".</p>
                        <p class="text-right">وفسر حديثه "كنت بالفعل أشك في صحة الهدف، لكن الحكم المساعد أكد لي صحته وبالتالي لم أتردد في احتسابه. وكان رد فعل الإنجليز مثيرا للاهتمام حقا". وزاد "لاعبو إنجلترا كانوا على قدر كبير من الروح الرياضية، أتذكر جاري لينكر وقتها فقط هو من اعترض وبطريقة مهذبة للغاية، حين اكتفى بقوله الكرة إن ارتطمت في يد مارادونا".
                        </p>
                        <p class="text-right">مارادونا لم يكتف بهدفه المثير للجدل من لمسة يد، بل أضاف بنفسه هدفا ثانيا بعد أن راوغ معظم لاعبي إنجلترا، قبل أن يهز الشباك ويؤمن فوز "التانجو". هدف مارادونا اختاره البعض كأفضل هدف في تاريخ بطولات كأس العالم، بعد أن بذل فيه الأسطورة الأرجنتينية جهدا كبيرا من ملعب فريقه حتى شباك الخصم. وعن هذا الهدف، قال بن ناصر "لا يعلم الكثيرون أن مارادونا لو فشل في التسجيل، لكنت احتسبت ركلة جزاء لصالحه على الفور، ولكني منحته أفضلية حتى سجل". وأشار الحكم التونسي السابق إلى أن مارادونا قدم له جزيل الشكر على منحه الأفضلية لتسجيل هدف ظل في ذاكرة عشاق كرة القدم حتى اللحظة.
                        </p>
                        <p class="text-right">وقال "استقبلت مارادونا وزوجته في منزلي، وقدم لي قميصه الخاص كهدية تذكارية أيضا، وقضينا سويا نحو 4 ساعات". علي بن ناصر يمتلك سجلا ناصعا في تاريخ التحكيم العربي والقاري والدولي، وأدار المباراة النهائية لكافة البطولات الأفريقية، منها دوري أبطال أفريقيا 1981 وكأس الكؤوس 1983 وكأس الأمم عامي 1984 و1986.</p>
                        <p class="text-right">وقال ساخرا في هذا الصدد: "الاتحاد الأفريقي استأذنني في إدارة نهائي كأس الأمم نسخة 1988 ولكن كحكم مساعد، حتى لا يقال لا يوجد في أفريقيا سوى بن ناصر". كما شارك بن ناصر في أول نسخة لكأس العالم للشباب عام 1977 في تونس ثم نسخة الاتحاد السوفيتي 1985، قبل مونديال الكبار في المكسيك.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------------------------- End blog-advice ------------------------------------------------->
    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container pt-4 text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                            </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>