<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="/images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/hom/usere">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar------------------------------------------------->    <!--------------------------------------------- Start blog------------------------------------------------->
    <!--------------------------------------------- Start blog-advice ------------------------------------------------->
    <section class="blog-advice">
        <div class="container">
            <div class="text-center py-3">
                <h2>التدوينة</h2>
                <img src="images/line.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-4 p-5">
                    <img  class="w-100" src="/images/blog/1.png">
                </div>
                <div class="col-lg-8 p-5">
                    <div class="blog-advice-caption">
                        <h2 class="text-right p-2">كيفية الالتزام بالتمارين الرياضية</h2>

                        <P class="text-right">ندرك جميعنا أهمية ممارسة النشاطات الرياضية والحفاظ عليها كجزءاً أساسياً في حياتنا لما لها من أهميةٍ عاليةٍ في الحفاظ على الصحة الجسدية والنفسية. ولا بدّ من الالتزام بممارسة النشاطات الرياضية بأنواعها المختلفة وعلى اختلاف مستوياتها بدءاً من النشاطات التي لا تتطلب الكثير من الجهد والوقت وانتهاءاً بتلك التي تتطلب الكثير من الوقت والجهد للاستفادة منها وجني فوائدها التي تتعلق بالصحة الجسدية والنفسية.
                        </P>
                            <p class="text-right">يعاني الكثير من الأشخاص من عدم الالتزام بممارسة النشاطات الرياضية على الرغم من رغبتهم الشديدة بذلك وذلك أمرٌ طبيعيُ يمكن الشعور به من وقتٍ لآخر حتى من قبل الأشخاص الممارسون للنشاطات الرياضية بشكلٍ كبيرٍ أو من قبل الأشخاص الذين يعتبرون ممارسة النشاطات الرياضية عادةُ لا يُمكن الإستغناء عنها لذا سنعرض ضمن هذا المقال أهم الطرق والأساليب التي من خلالها زيادة القدرة على الإلتزام بممارسة النشاطات الرياضية. </p>
                            <p class="text-right">إلاّ إنّه يجب استشارة الطبيب قبل ممارسة الأنشطة الرياضة خصوصاً للأشخاص الذين يزيد عمرهم عن الأربعين عاماً، والذين يعانون من أمراضٍ مزمنةٍ، والأشخاص الذين يعانون من زيادة في الوزن، والأشخاص المنقطعون عن ممارسة الرياضة لفترةٍ طويلةٍ. </p>
                            <p class="text-right">زيادة نشاط القلب ووقايته من الأمراض، تساهم الرياضة في تقوية عضلة القلب وتعزيز وظيفته المتمثلة بتدفق الدم إلى جميع أعضاء الجسم إضافةً لدورها في وقاية الشخص الممارس للرياضة من خطر الإصابة بأمراض القلب التي يمكن أن تهدد حياته. </p>
                            <p class="text-right">تنقية الأوعية الدموية، تساهم ممارسة النشاطات اليومية في تنقية الشرايين والأوردة الدموية من الكوليسترول والدهون اللواتي يسبب تراكمهنّ العديد من الأمراض الخطيرة بالإضافة لدور التمارين والأنشطة الرياضية في زيادة مرونة الأوعية الدموية مما يخفف خطر الإصابة بارتفاع ضغط الدم والإصابة بالجلطات القلبية والدماغية. </p>
                            <p class="text-right">زيادة القدرة الاستيعابية للرئتين، تساعد ممارسة التمارين الرياضية بزيادة القدرة الاستيعابية للرئتين مما يزيد كمية الهواء الداخل والخارج منها مما يسمح بدخول كميات كبيرة من الأكسجين وخروج كميات كبيرة من ثاني أكسيد الكربون من الرئتين إضافةً لدور ممارسة الرياضة في منع انخفاض كمية الأكسجين الناتجة مع تقدّم السن. </p>
                            <p class="text-right">تقليل مستوى السكر في الدم، تساهم ممارسة التمارين الرياضية في تحفيز العضلات على استخدام السكر لإنتاج الطاقة مما يمنع تراكمها داخل الجسم كما وتساهم في وقاية الشخص من الإصابة بمرض السكريّ. إذ يزيد تراكم السكر بكمياتٍ كبيرةٍ في الجسم خطر الإصابة بالعديد من الأمراض. </p>
                            <p class="text-right">المحافظة على الوزن ضمن معدلاته الطبيعية، تساهم ممارسة الرياضة في تسريع عملية حرق السعرات الحرارية مما يمنع تراكمها داخل الجسم والتسبب بزيادة الوزن. </p>
                            <p class="text-right">تقوية العظام، تبدأ تقل كثافة العظم في عمر العشرينيات. بينما تساهم ممارسة الرياضة بانتظام في زيادة كثافة العظام مما يساعد في وقاية الأشخاص من الإصابة بهشاشة العظام. </p> 
                            <p class="text-right">وقاية الأشخاص من الإصابة بالسرطان، تساهم ممارسة التمارين الرياضية من وقاية الأشخاص من خطر الإصابة بسرطان القولون، وسرطان البروستات، وسرطان الثدي، وسرطان المثانة. </p>
                            <p class="text-right"> زيادة الطاقة وتقليل التعب، تساهم ممارسة الرياضة في زيادة مستوى الطاقة وتقليل التعب والإجهاد.</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------------------------- End blog-advice ------------------------------------------------->
    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container pt-4 text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                            </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>