<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar------------------------------------------------->    <!--------------------------------------------- Start blog------------------------------------------------->
        <section class="bolg">
            <div class="container">   
                <div class="text-center py-3">
                    <h2>المدونة</h2>
                    <img src="/images/line.png" alt="" srcset="">
                </div>
            <div class="row text-right">
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href="/home/blog-advice"><img class="w-100" src="/images/blog/3.jpg" alt=""></a>
                        <h5 class="p-2" >كيفية تفادي الإصابات خلال ممارسة كرة القدم</h5>
                        <p class="p-2">إن الإصابات هي جزء أساسي من رياضة كرة القدم، ومن الوارد والطبيعي أن يتعرض أي مُمارس لهذه الرياضة لإصابة</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-caption mt-2">
                        <a href="/home/blog-advice2"><img class="w-100" src="/images/blog/1.png" alt=""></a>
                        <h5 class="p-2" >كيفية الالتزام بالتمارين الرياضية</h5>
                        <p class="p-2">ندرك جميعنا أهمية ممارسة النشاطات الرياضية والحفاظ عليها كجزءاً أساسياً في حياتن</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href="/home/blog-advice3"><img class="w-100" src="/images/blog/2.jpg" alt=""></a>
                        <h5 class="p-2" >كواليس هدفي مارادونا أمام إنجلترا في كأس العالم بعد أكثر من 34 عاماً</h5>
                        <p class="p-2"> سرد علي بن ناصر أسطورة التحكيم التونسية والعربية كواليس هدفين ربما هما الأشهر </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-caption mt-2">
                        <a href=""><img class="w-100" src="/images/blog/4.jpg" alt=""></a>
                        <h5 class="p-2" >7 معلومات عن فريق سيراميكا كليوباترا الصاعد حديثاً للدوري المصري الممتاز</h5>
                        <p class="p-2">نجح فريق سيراميكا فى خطف بطاقة الصعود للدوري الممتاز لموسم 2020/2021، لأول مرة في تاريخه</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href=""><img class="w-100" src="/images/blog/5.jpg" alt=""></a>
                        <h5 class="p-2" >ريال مدريد يعلن تعيين أنشيلوتي مدرباً للفريق لمدة 3 مواسم خلفاً لزيدان</h5>
                        <p class="p-2">أعلن نادى ريال مدريد الإسبانى، مساء اليوم، الثلاثاء، التعاقد مع المدرب الإيطالي كارلو أنشيلوتى لتدريب الفريق الملكى لمدة 3 سنوات</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href=""><img class="w-100" src="/images/blog/6.jpg" alt=""></a>
                        <h5 class="p-2" >تيمبو.. الكرة المصرية التي فرضت سيطرتها على الدوريات الإفريقية والآسيوية</h5>
                        <p class="p-2">قد يكون المعتاد لعينك ان تري كرات عديدة لماركات عالمية مثل " اديداس" 
                            او "نايكي" او " امبرو" او " بوما" هي الأكبر والاشهر للاستخدام في البطولات والدوريات المختلفة حول العالم،</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-caption mt-2">
                        <a href=""><img class="w-100" src="/images/blog/7.jpg" alt=""></a>
                        <h5 class="p-2" >بادجي يبلغ الأهلي برغبته في الاستمرار في أوروبا</h5>
                        <p class="p-2">أبلغ أليو بادجي مهاجم الأهلي، المعار لأنقرة جوتشو التركي، رغبته في الاستمرار في أوروبا عن العودة للفريق في الموسم المقبل.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href=""><img class="w-100" src="/images/blog/8.jpg" alt=""></a>
                        <h5 class="p-2" >ستاد الإسكندرية.. أقدم الملاعب الإفريقية التي جمعت بين حضارات العالم المختلفة</h5>
                        <p class="p-2">من أقواس النصر الرومانية، ومن حماسة مشجعي الألعاب الرياضية في الملاعب الأوليمبية ..</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="blog-caption">
                        <a href=""><img class="w-100" src="/images/blog/9.jpg" alt=""></a>
                        <h5 class="p-2" >النظام الغذائي والرياضة: كلاً منهما يحتاج للآخر أكثر مما تتخيل</h5>
                        <p class="p-2">توفر التغذية والرياضة يساعد على تحقيق أفضل النتائج، يجب إتباع نظام غذائي</p>
                    </div>
                </div>
            </div>
          </div>
      </section>
    <!--------------------------------------------- end blog------------------------------------------------->
    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container pt-4 text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                           </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>