<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar------------------------------------------------->    
    <section id="clubs" class="clubs">
        <div class="container">   
            <div class="text-center py-3">
                <h2>افضل الاندية</h2>
                <img src="images/line.png" alt="" srcset="">
            </div>
            <div class="row text-center">
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href="/home/clubs/alahly"><img class="w-75" src="/images/club/851107Al Ahly.png" alt="" srcset=""></a>
                        <h4 class="p-3">الاهلي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/500154Zamalek.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الزمالك</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/687303Pyramids.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">بيراميدز</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/887962Ismaily.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الاسماعيلي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/833783Al Mokawloon Al Arab.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">المقاولون العرب</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/899401Al Ittihad Alexandria.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الاتحاد السكندري</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/163908Barcelona.png" alt="" srcset=""></a>
                        <h4 class="p-3">برشلونة</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/550818Real Madrid.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">ريال مدريد</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/894395Atlético Madrid.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">اتليتكو مدريد</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/395315Valencia.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">فالنسيا</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/449310Roma.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">روما</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/551909Juventus.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">يوفنتوس</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/964797Milan.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">ميلان</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/826796Inter Milan.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">انتر ميلان</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/717447Napoli.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">نابولي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/171379Lazio.png" alt="" srcset=""></a>
                        <h4 class="p-3">لاتسيو</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/282113Marseille.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">مارسيليا</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/215764Manchester United.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">مانشستر يونايتد</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/227462Manchester City.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">مانشستر سيتي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/26628Liverpool.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">ليفربول</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/500597Tottenham Hotspur.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">توتنهام هوتسبير</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/545495Chelsea.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">تشيلسي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/799819Arsenal.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">ارسنال</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/685553Bayern Munich.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">بايرن ميونخ</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/912840Borussia Dortmund.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">بورسيا دورتموند</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/21913Ajax.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">اياكس</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/612037Paris Saint-Germain.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">باريس سان جيرمان</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/652741Galatasaray.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">جالاتا سراي</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/218252Mamelodi Sundowns.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">ماميلودي صنداونز</h4>
                    </div>
                </div>            
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/234758Raja Casablanca.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الرجاء</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/80160Wydad Casablanca.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الوداد</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <div class="clubs-caption">
                        <a href=""><img class="w-75" src="/images/club/978275Espérance de Tunis.png" alt="" srcset=""></a>
                        <h4 class="p-3 ">الترجي</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>































    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container pt-4 text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                            </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>