<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORT ANGLE</title>
</head>
<header>
    <!---------------------------------------------- Start header info----------------------------------------->
        <div>
            <div class="container">
                <div>
                    <div class="header_info m-auto text-center">
                        <div>
                            <img class="w-25" src="images/logo.black.jpeg" alt="" srcset="">
                        </div>
                        <div >
                            <i class="fas fa-envelope"></i><span class="text-muted" >sportangle00@gmail.com</span>
                            <i class="fas fa-phone-alt"></i><span class="text-muted" >(02)01*********</span>
                            <a href="shopping.html"><i class="shopping fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!--------------------------------------------- End header info---------------------------------------------->
   <!--------------------------------------------- Start navbar------------------------------------------------->
   <div class="hr w-75 m-auto"></div>
        <div class="header_nav">
            <nav class="navbar w-75  navbar-expand-lg navbar-dark ">
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/about-us">من نحن</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/contact-us">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاحصائيات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/clubs">افضل الاندية</a>
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/home/brands">افضل الماركات</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home/blog">المدونة</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/home">الرئيسية</a>
                        </li>
                        <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </ul>     
                </div>
            </nav>
                <div class="hr w-75 m-auto "></div>
        </div>
    </div>
</header>
<!--------------------------------------------- End navbar------------------------------------------------->    <!--------------------------------------------- Start blog------------------------------------------------->
     <!--------------------------------------------- End Privacy------------------------------------------------->
        <section class="privacy p-4 my-4">
            <div class="container">
                <div class="privacy-caption p-4">
                    <h2 class="text-muted mb-4 text-center">الخصوصية</h2>
                    <p class="text-right"><i class="far fa-futbol"></i> يلتزم موقع Sport Angle الي اقصي درجة بحماية البيانات الشخصية, ومن خلال قبولكم لسياسة الخصوصية الخاصة فأنكم تسمحون لنا بجمع و استخدام والكشف عن المعلومات الشخصية الخاصة بك فقط وفقا لسياسة الخصوصية وبشكل محدود جدا, يرجي العلم بأنه لن يتم بيع او استخدام او عرض بياناتك الشخصية الي اي جهة.</p>
                    <p class="text-right"><i class="far fa-futbol"></i> عند فتح حساب جديد على موقع متجر Sport Angle , نقوم بطلب مجموعة من البيانات الشخصية للعميل , حيث يجب إكمال تلك البيانات بطريقة صحيحة لإتمام عملية التسجيل على الموقع وللتأكد من عدم وجود أي معلومات كاذبة أو مضللة. </p>
                    <p class="text-right"><i class="far fa-futbol"></i>  المعلومات الشخصية التي نجمعها:اسمك , العنوان , البريد الالكتروني , رقم الهاتف , وغيرها من المعلومات الأساسية.</p>
                </div>
            </div>
        </section>
    <!--------------------------------------------- End Privacy------------------------------------------------->
    <!--------------------------------------------- Start footer ------------------------------------------------->
    <footer>
        <div class="container mt-4 pt-4  text-right">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <h5 class="text-center">من نحن</h5>
                    <div class="hr my-2"></div>
                    <p class="p-2">متجر Sport Angle  يوفرلك منتجات الاندية المصرية والاوربية الاصلية 100% ونوفر التوصيل لجميع المحافظات داخل جمهورية مصر العربية</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">روابط مهمة</h5>
                    <div class="hr my-2"></div>
                    <a href="privacy.html">الخصوصية</a>
                    <div class="hr my-2"></div>
                    <a href="support.html">الدعم</a>
                    <div class="hr my-2"></div>
                    <a href="advice.html">ارشادات الغسيل والكوي</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">حساب</h5>
                    <div class="hr my-2"></div>
                    <i class="fas fa-key"></i><a href="">دخول</a>
                    <div class="hr my-2"></div>
                    <i class="fas fa-lock"></i><a href="">تسجيل الدخول</a>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-center">تابعنا علي </h5>
                    <div class="hr my-2"></div>
                        <div class="icons text-center d-flex justify-content-center">
                            <div class="footer-icons facebook"><a href="https://www.facebook.com/Sport-Angle-104573691888659/"><i class="fab fa-facebook-f"></i></a></div>
                            <div class="footer-icons instagram"><a href="https://www.instagram.com/p/CQuVgEwH7O3/?utm_medium=share_sheet"><i class="fab fa-instagram"></i></a></i></div>
                            </div>
                </div>   
            </div>
            <div class="hr my-2"></div>
            <div class="m-auto text-center p-3">
                <p class="text-muted"> &copy;جميع الحقوق محفوظة Sprot Angle 2021 </p>
            </div>
        </div>
    </footer>
    <!--------------------------------------------- End footer ------------------------------------------------->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>